html {

  overflow-x:hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size:15px;
  font-family: -apple-system, Geometria, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: normal;
  src:
      url('./static/fonts/Geometria.ttf') format('truetype'),
      url('./static/fonts/Geometria.otf') format('otf')
}

@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 700;
  src:
          url('./static/fonts/Geometria-ExtaBlack.ttf') format('truetype'),
          url('./static/fonts/Geometria-ExtaBlack.otf') format('otf')
}

@font-face {
  font-family: 'Futura New Book';
  font-style: normal;
  font-weight: normal;
  src:
          local('Futura New Book'),
          url('./static/fonts/FuturaNewBook.ttf') format('truetype'),
          url('./static/fonts/FuturaNewBook.otf') format('otf')
}
@font-face {
  font-family: 'Futura New Medium';
  font-style: normal;
  font-weight: normal;
  src:
          url('./static/fonts/FuturaNewMedium.ttf') format('truetype'),
          url('./static/fonts/FuturaNewMedium.otf') format('otf')
}